Here is what you need to run the code for this project:

1. Install anaconda on your machine 

2. Launch Jupyter Notebook

3. Upload the project code file onto Jupyter Notebook

4. Download dataset file

5. Link the dataset file path to the project code

6. Run code cells
